{% extends "padre.html" %}

{% block content %}

<h2>Lista de Celulares</h2>

<ul>
    {% for celulares in celulares %}
        <li>
         {{ celulares.modelo }}
        <a href="{% url 'detalle-celulares' celulares.pk %}">Ver Detalle</a>
        <a href="{% url 'editar-celulares' celulares.pk %}">Editar</a>
        <a href="{% url 'eliminar-celulares' celulares.pk %}">Eliminar</a>
        </li>
    {% empty %}
        <li>No hay celulares disponibles.</li>
    {% endfor %}
</ul>
{% endblock %}